<div class="text-center">
    <h3>ログイン</h3>
</div>
<div class="row">
<%= form_with(url: login_path, scope: :session) do |f| %>
    
    <div class="col-sm-6 offset-sm-3">
    <div class="mb-3">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="mb-3">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: "form-control" %>
    </div>
    
    <div class="submit">
    <%= f.submit 'ログイン', class: 'btn w-100' %>
    </div>
<% end %>
    <div class="text-center">
        <p>新規登録は<%= link_to 'こちら', signup_path %>から</p>
    </div>
    </div>
</div>