<div class="container">
<h3><%= @search.condition_name %> の時に不足している主な栄養素</h3>

<% if logged_in? %>
    <div>
       <%= render 'favorites/favorite_button', search: @search, class: 'favorite_button' %> 
    </div>
<% end %>

<table class="table table-sm">
    <tr>
        <th>不足栄養素</th>
        <th>含まれる食材</th>
    </tr>
    <tr>
        <td><%= @search.content %></td>
        <td><%= @search.food %></td>
    </tr>
    <tr>
        <td><%= @search.content_2 %></td>
        <td><%= @search.food_2 %></td>
    </tr>
    <tr>
        <td><%= @search.content_3 %></td>
        <td><%= @search.food_3 %></td>
    </tr>
    <tr>
        <td><%= @search.content_4 %></td>
        <td><%= @search.food_4 %></td>
    </tr>
</table>

<%= render 'recipes/recipe' %>

<% if logged_in? %>
    <p><%= link_to '編集', edit_search_path(@search), class: "page-menu" %> | <%= link_to '削除', @search, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: "page-menu" %></p>
<% end %>

<p><%= link_to '一覧に戻る', searches_path, class: "page-menu" %></p>
</div>