<nav class="navbar navbar-light" style="background-color: #b3e0eb">
    <div>
        <a class="navbar-brand" style="color: #676767" href="/">
            <%= image_tag "nav_logo.png" %>
        </a>
    </div> 
    
<!--メニュー項目-->
    <!--一般ログイン時のナビバー-->
    <% if logged_in? %>
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#b3e0eb"><%= current_user.name %>さん</button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li class="nav-item"><%= link_to 'マイページ', likes_user_path(current_user), class: 'dropdown-nav-link' %></li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: "dropdown-nav-link" %></li>
          </ul>
    <!--管理者ログイン時のナビバー      -->
     <% elsif admin_signed_in? %>
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#b3e0eb;">管理者</button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li class="nav-item"><%= link_to '症状登録', new_search_path, class: 'dropdown-nav-link' %></li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "dropdown-nav-link" %></li>
          </ul>
    <!--未ログイン時のナビバー-->
    <% else %>
       <div id="nav">
        <ul class="navbar">
            <li class="nav-item"><%= link_to '新規登録', signup_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'ログイン', login_path, class: "nav-link" %></li>
        </ul>
        </div>
    <% end %>
</nav>